@using System.ComponentModel;

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

@functions {
    public string DisplayProperty(object obj, string property)
    {
        return TypeDescriptor.GetProperties(obj)[property].GetValue(obj).ToString();
    }
}

<h2>Employee List</h2>
<h5>@Html.ActionLink("Search", "Search")</h5>

<table>
    <thead>
        <tr>
            <td style="width: 100px">Name</td>
            <td style="width: 50px">Age</td>
            <td style="width: 200px">Email</td>
            <td style="width: 150px">Company</td>
            <td style="width: 150px">Address</td>
        </tr>
    </thead>
    @foreach (var obj in Model)
    {
    <tr>
        <td>@DisplayProperty(obj, "Name")</td>
        <td>@DisplayProperty(obj, "Age")</td>
        <td>@DisplayProperty(obj, "Email")</td>
        <td>@DisplayProperty(obj, "Company")</td>
        <td>@DisplayProperty(obj, "Address")</td>
    </tr>
    }
</table>
