@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "About";
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>Test</h2>
</hgroup>

<!--
<article>
    @for (var i = 10; i < 20; i++)
    {
        <p style="font-size: @(i+ "pt");">Font size @i</p>
    }
</article>
-->
<!--
<ul>
    @foreach (var myItem in Request.ServerVariables)
    {
        <li>@myItem</li>
    }

</ul>
-->
<!--
@{ var result = "";}

@if (IsPost)
{
    var input1 = Request.Form["num1"].AsInt();
    var input2 = Request.Form["num2"].AsInt();
    var total = input1 + input2;
    result = "this come after a submission, result = " + total;
}
else
{
    result = "this is the first time";
}

@**heloo*@

<form method="POST" action="">
    <p>
        <label>Input 1</label>
        <input type="text" name="num1" />
    </p>
    <p>
        <label>Input 2</label>
        <input type="text" name="num2" />
    </p>
    <input type="Submit" name="Submit" value="Submit" />
    <p>@result</p>
</form>
-->
<!--
@{
    string[] teamMates = new string[] { "john", "lee", "is", "here", "okay", "or" };
    var myScores = new Dictionary<string, int>();
    myScores.Add("john", 5);
    myScores.Add("lee", 3);
    myScores.Add("is", 2);
    myScores.Add("here", 6);
    myScores.Add("or", 8);
    myScores.Add("not", 7);
}

@foreach (string team in teamMates)
{
    if (myScores.ContainsKey(team))
    {
        <p><b>@team</b> with age @myScores[@team]</p>
    }
    else
    {
        <p>"@team" is not in the list</p>
    }

}
-->
@{ 
    string file = "~/Images/Employee.txt";
    string physicPath = Server.MapPath(file);
    try
    {
        StreamReader reader = new StreamReader(physicPath);
        string line;

<table>
    <thead>
        <tr><td>Index</td><td>Name</td><td>Age</td></tr>
    </thead>
    <tbody>
        @while ((line = reader.ReadLine()) != null)
        {
            string[] subs = line.Split(',');
            <tr>
                <td>@subs[0]</td><td><b>@subs[1]</b></td><td>@subs[2]</td>
            </tr>
        }
    </tbody>
</table>
        reader.Close();
    } catch (Exception e)
    {
        <p>File @file not found</p>
        <p style="color:orangered">@e.Message</p>
    }
}

<aside>
    <h3>Main Menu</h3>
    <ul>
        <li><a href="~/">Home</a></li>
        <li><a href="~/Employee">Employee</a></li>
        <li><a href="~/Contact">Contact</a></li>
    </ul>
</aside>